#coraltera {
    color: rgb(42, 75, 104);
}
 .navbar-collapse  {
    font-size: 20px;
    color: rgb(99, 37, 156);
}
.fonteHome {
    font-size: 25px;
    color: rgb(214, 169, 214);
}
.wit {
    width: 30px;
    height: 30px;
}