<!-- ====================== Crud ===========================-->
<nav id="nav1" class="nav navbar">
    <h1>Mini CRUD </h1>        
           <h1 ><a  routerLink="/users" 
            #a1>Lista de Usuários</a> </h1>        
            
           <h1> <a routerLink="/users/create" #a>Criar Usuário</a></h1>         
</nav><br><hr>
<!--======================== HHTP Client =====================================-->
<nav id="nav1" class="nav navbar">
    <h1> CRUD com Json Server</h1>        
           <h1 ><a routerLink="/crud/crud-json2" 
            #a1>API - Músicas / Cifras</a> </h1>     
</nav>

<!--======================== Upload =====================================--><br>
<br>
<nav id="nav1" class="nav navbar">
    <h1> Busca reativa =></h1>        
           <h1 ><a routerLink="/upload-file" 
            #a1>Ir para pesquisa</a> </h1>     
</nav>

<!--======================== Upload =====================================--><br>
<br>
<nav id="nav1" class="nav navbar">
    <h1> Crud com Firebase</h1>        
           <h1 ><a href="https://crud-3.firebaseapp.com/" 
            #a1>Cadastro de clientes</a> </h1>     
</nav>

