  <br>
  <a class="btn btn-dark btn-lg  btn-block bg-gradient-light" id="fonte" routerLinkActive="active"
  [ngClass]="{'text-fonte': true}" href="http://www.forca-spider.rf.gd " >Jogo da Forca</a>

  <a class="btn btn-dark btn-lg  btn-block bg-gradient-light" id="fonte"   
  href="https://meat-delivery-74bc4.firebaseapp.com/" role="button">API Busca de Restaurantes ( Ifood )</a>

  <a class="btn btn-dark btn-lg  btn-block bg-gradient-light" id="fonte" 
  [ngClass]="{'text-fonte': true}"
  routerLink="/loja-virtual" > Loja Virtual</a>
  
  <a class="btn btn-dark btn-lg  btn-block bg-gradient-light" id="fonte" 
  [ngClass]="{'text-fonte': true}"
   href="http://www.senne-developer2.epizy.com" role="button">Site de Desenvolvimento Web</a>

   <a class="btn btn-dark btn-lg  btn-block bg-gradient-light" id="fonte" 
   [ngClass]="{'text-fonte': true}"
   routerLink="/matematica" 
  role="button">Cálculos matemáticos</a>

  <a class="btn btn-dark btn-lg  btn-block bg-gradient-light" id="fonte" 
  [ngClass]="{'text-fonte': true}"
  routerLink="/crud" 
 role="button">C R U D</a>